/*
base0:      eee8d5
base1:      fdf6e3
tone0:      93a1a1
tone1:      839496
cyan:       2aa198
green:      859900
orange:     cb4b16
*/

body {
    font-family: 'Roboto Mono', monospace;
    background: #eee8d5;
    padding: 0;
    margin: 32 auto;
    max-width: 760px;
}

a, u {
    color: #2aa197;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* navbar styling */

.navbar {
    padding-bottom: 32px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar b {
    font-weight: normal;
    color: #cb4b16;
}

/* banner styling */
.banner {
    margin: 32 auto;
    background-color: #fdf6e3;
    overflow: hidden;
    padding: 40px;
    margin-top: 0;
}

.banner p {
    color: rgba(0, 0, 0, 0.6)
}

/* post styling */

.post {
    border: 1px solid #93a1a1;
    margin: 8 auto;
    background-color: #fdf6e3;
    overflow: hidden;
    padding: 40px;
    color: rgba(0, 0, 0, 0.6)
}

.post u {
    color: #839496;
    text-decoration: none;
}